/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.mb-1 {
  margin-bottom: .25rem !important; }

.mb-2 {
  margin-bottom: .5rem !important; }

.mb-3 {
  margin-bottom: 1rem !important; }

.mb-4 {
  margin-bottom: 1.5rem !important; }

.mt-1 {
  margin-top: .25rem !important; }

.mt-2 {
  margin-top: .5rem !important; }

.mt-3 {
  margin-top: 1rem !important; }

.mt-4 {
  margin-top: 1.5rem !important; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.btn {
  padding: 0.5em 0.875em;
  font-size: 1.25rem;
  border-color: transparent;
  border-radius: 2px; }
  .btn--primary {
    background-color: #ff6464;
    color: white; }

.badge {
  font-size: 18px;
  color: white;
  background-color: #142850;
  border-radius: 16px;
  padding: 0.1em 0.6em;
  font-weight: 500; }
  @media (max-width: 767.98px) {
    .badge {
      font-size: 0.8rem;
      padding: 0.1em 0.8em; } }

.container {
  padding: 0 24px;
  max-width: 1320px;
  margin: 0 auto; }
  @media (max-width: 767.98px) {
    .container {
      padding: 1rem; } }

.block-even {
  background-color: #EDF7FA; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.contact__form {
  width: 640px;
  margin: 50px auto;
  display: block; }
  .contact__form .feedback-input:focus {
    border: 2px solid #00a8cc; }
  .contact__form textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical; }
  .contact__form [type=submit] {
    width: 100%;
    background: #ff6464;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700; }
    .contact__form [type=submit]:hover {
      background: #cc4949; }
  @media (max-width: 1199.98px) {
    .contact__form {
      max-width: auto;
      margin: 0 auto; } }

.contact__input {
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #8695a4;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
a {
  color: #00a8cc;
  font-weight: 400;
  text-decoration: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
header nav {
  padding: 0.25em; }
  header nav .nav__button {
    display: none; }
    @media (max-width: 767.98px) {
      header nav .nav__button {
        display: block;
        float: right;
        padding-right: 20px;
        padding-top: 20px; } }
  header nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    header nav .container .navigation {
      overflow: hidden;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 300;
      font-size: 1rem; }
      header nav .container .navigation .navigation__item {
        float: left;
        padding: 0.3em 0.5em;
        font-weight: 800; }
        header nav .container .navigation .navigation__item .navigation__link {
          color: black;
          text-decoration: none; }
          header nav .container .navigation .navigation__item .navigation__link:hover, header nav .container .navigation .navigation__item .navigation__link:focus {
            text-decoration: none;
            color: black; }
          header nav .container .navigation .navigation__item .navigation__link.active {
            color: #ff6464; }
      @media (max-width: 767.98px) {
        header nav .container .navigation.show {
          height: 134px; } }
      header nav .container .navigation li + li {
        margin-left: 1rem; }
        @media (max-width: 767.98px) {
          header nav .container .navigation li + li {
            margin-left: unset; } }
      @media (max-width: 767.98px) {
        header nav .container .navigation {
          display: flex;
          height: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 0;
          text-align: center;
          transition: height 500ms;
          transition-timing-function: ease-in; } }
    @media (max-width: 767.98px) {
      header nav .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0; } }
  @media (max-width: 767.98px) {
    header nav {
      padding: 0;
      background-color: #edf7fa;
      width: 100%; } }

footer {
  margin-top: auto;
  padding: 40px 0 40px 0;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }
  footer .icons__container {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    justify-content: center;
    margin: 26px; }
    footer .icons__container .icon {
      width: 30px;
      height: 30px; }

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
.hero {
  margin-top: 140px;
  font-size: 1rem;
  color: #21243d; }
  .hero__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    -moz-column-gap: 115px;
    column-gap: 115px; }
    @media (max-width: 767.98px) {
      .hero__container {
        flex-direction: column;
        align-items: center; } }
  @media (max-width: 767.98px) {
    .hero__image__container {
      display: none; } }
  .hero__text__container {
    width: 50%; }
    .hero__text__container .hero__title {
      font-weight: bold;
      font-size: 44px; }
      @media (max-width: 767.98px) {
        .hero__text__container .hero__title {
          font-size: 2rem; } }
    .hero__text__container .hero__mobile_image {
      display: none; }
      @media (max-width: 767.98px) {
        .hero__text__container .hero__mobile_image {
          display: block; } }
    .hero__text__container .hero__desc {
      text-align: left; }
      @media (max-width: 767.98px) {
        .hero__text__container .hero__desc {
          text-align: center; } }
    @media (max-width: 767.98px) {
      .hero__text__container .hero__cta .btn {
        font-size: 1rem;
        font-weight: 500; } }
    @media (max-width: 767.98px) {
      .hero__text__container {
        width: auto;
        text-align: center; } }
  .hero__image__container {
    width: 30%; }
  @media (max-width: 767.98px) {
    .hero {
      margin-top: 2rem;
      font-size: 1rem; } }

.posts {
  background-color: #edf7fa; }
  @media (max-width: 767.98px) {
    .posts .container {
      padding: 1em; } }
  .posts__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 22px;
    color: #21243d; }
    .posts__header__title {
      font-weight: 500;
      font-size: 22px;
      color: #21243d; }
      @media (max-width: 767.98px) {
        .posts__header__title {
          font-size: 1.5rem; } }
  .posts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 20px;
    column-gap: 20px; }
    @media (max-width: 767.98px) {
      .posts__container {
        flex-direction: column;
        row-gap: 15px; } }
  .posts__card {
    border-radius: 4px;
    padding: 1.25rem;
    background-color: white;
    box-shadow: 0 1px rgba(0, 0, 0, 0.25098);
    font-weight: 400;
    font-weight: 500;
    font-size: 26px; }
    .posts__card__title {
      font-weight: 500;
      font-size: 26px; }
      @media (max-width: 767.98px) {
        .posts__card__title {
          font-size: 1.7rem; } }
    .posts__card__tags {
      font-size: 18px;
      margin-bottom: 1rem; }
      .posts__card__tags span:not(:last-child) {
        border-right: 1px solid black;
        padding-right: 8px; }
    @media (max-width: 767.98px) {
      .posts__card {
        border-radius: 4px;
        padding: 1.25rem; } }

.block-works .container {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (max-width: 1199.98px) {
    .block-works .container {
      padding: 1em; } }

.block-works__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .block-works__header__title {
    font-weight: 500;
    font-size: 22px;
    color: #21243d; }
    @media (max-width: 1199.98px) {
      .block-works__header__title {
        font-size: 1.5rem; } }

.block-works__container {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.block-works__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 1.25rem 0;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25098);
  font-weight: 400; }
  .block-works__card img {
    max-width: 246px;
    border-radius: 8px; }
    @media (max-width: 1199.98px) {
      .block-works__card img {
        max-width: 492px; } }
  .block-works__card__title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0.5rem; }
    @media (max-width: 1199.98px) {
      .block-works__card__title {
        font-size: 1.8rem; } }
  .block-works__card__tags {
    font-size: 20px;
    margin-bottom: 0.5rem;
    color: #8695a4; }
    .block-works__card__tags span:not(:last-child) {
      border-right: 1px solid black;
      padding-right: 8px; }
    @media (max-width: 1199.98px) {
      .block-works__card__tags {
        font-size: 0.8rem; } }
  @media (max-width: 1199.98px) {
    .block-works__card {
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      padding: 1.25rem 0; } }

.block-works.block-even .block-works__card {
  padding-left: 1.25rem; }
